*{
  padding: 0;
  margin: 0px;
}

.img{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.app_stats{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header{
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}
.countryCards{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.div_left{
  flex: 0.9;
}
.main{
  display: flex;
  justify-content: space-evenly;
  padding: 30px 5px;
}
@media (max-width:1050px){
  .main{
    flex-direction: column;
  }
}
@media (min-width:875px){
  .header{
    flex-direction: column;
  }
}